.bg-status-1 {
    background-color: rgb(205, 218, 38); color: rgb(40, 45, 49)
}

.bg-status-2 {
    background-color: rgb(38, 115, 38); color: rgb(255, 255, 255);
}

.bg-status-3 {
    background-color: rgb(255, 128, 0); color: rgb(40, 45, 49);
}

.bg-status-4 {
    background-color: rgb(210, 20, 20); color: rgb(255, 255, 255);
}

.bg-status-5 {
    background-color: #800080; color: rgb(255, 255, 255);
}

.bg-status-6 {
    background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
}

.bg-status-7 {
    background-color: #0080ff; color: rgb(255, 255, 255);
}

.bg-status-8 {
    background-color: #0080c0; color: rgb(255, 255, 255);
}

.bg-status-9 {
    background-color: #408080; color: rgb(255, 255, 255);
}

.bg-status-0 {
    background-color: #400040; color: rgb(255, 255, 255);
}

.bg-status-c {
    background-color: #ffffff; color: rgb(40, 45, 49);
}

.bg-status-j {
    background-color: #ffffff;
}

.blink-bg-red {
    color: #fff;
    animation: blinkingBackgroundRed 2s infinite;
}

@keyframes blinkingBackgroundRed {
    0% {
        background-color: #ef0a1a;
    }
    25% {
        background-color: #ffffff;
    }
    50% {
        background-color: #ef0a1a;
    }
    75% {
        background-color: #ffffff;
    }
    100% {
        background-color: #ef0a1a;
    }
}

.blink-bg-green {
    color: #fff;
    animation: blinkingBackgroundGreen 2s infinite;
}

@keyframes blinkingBackgroundGreen {
    0% {
        background-color: #00bb2d;
    }
    25% {
        background-color: #ffffff;
    }
    50% {
        background-color: #00bb2d;
    }
    75% {
        background-color: #ffffff;
    }
    100% {
        background-color: #00bb2d;
    }
}

.blink-bg-orange {
    color: #fff;
    animation: blinkingBackgroundOrange 2s infinite;
}

@keyframes blinkingBackgroundOrange {
    0% {
        background-color: #ff9900;
    }
    25% {
        background-color: #ffffff;
    }
    50% {
        background-color: #ff9900;
    }
    75% {
        background-color: #ffffff;
    }
    100% {
        background-color: #ff9900;
    }
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}

.dme-bg-dark {
    background: #464b46;
}

.dme-bg-light {
    background: #707378;
}

.dme-bg-display {
    background: #aab4aa;
}

.bg-brand {
    color: white !important;
    background: darkred !important;
}
